@include keyframes (Fade) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes (BlockRevealX) {
  0%{
    transform-origin:left center;
    transform:scaleX(0);
  }
  40%{
    transform-origin:left center;
    transform:scaleX(1);
  }
  60%{
    transform-origin:right center;
    transform:scaleX(1);
  }
  100%{
    transform-origin:right center;
    transform:scaleX(0);
  }
}
