.DS_Store
*.log
*.psd
*.mp4
*.map
*.lock
*.webp

.htaccess
.htpasswd
wp-config.php
sitemap.xml
sitemap.xml.gz
error_log
yarn.lock

.gulp/
.sass-cache/
node_modules/

wp-content/ewww/
wp-content/ai1wm-backups/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/blogs.dir/
